name: Checkout

on:
  workflow_dispatch:
  
# permissions:
#   contents: write

jobs:
  checkout:
    runs-on: ubuntu-latest
      
    steps:
      - name: Install Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker-compose
          
      # Step 1: 檢出程式碼
      - name: Checkout code
        uses: actions/checkout@v4

      # Step 2: 設定 Docker Compose
      - name: Set up Docker Compose
        run: |
          docker volume create --name=mysql
          docker network create my_network
          docker-compose -f mysql.yml up -d

      - name: List running Docker containers
        run: |
          docker ps
          docker network ls

      - name: 等待 MySQL 啟動
        run: |
          for i in {1..10}; do
            docker exec linpoi387_mysql_1 mysqladmin ping -h "127.0.0.1" -u root -p${{ secrets.MYSQL_ADMIN_PASSWORD }} && break
            echo "等待 MySQL 啟動..."
            sleep 3
          done
          
      - name: Import SQL
        run: |
          docker exec -i linpoi387_mysql_1 mysql -u root -p${{ secrets.MYSQL_ADMIN_PASSWORD }} crawler < ./crawler.sql

      # Display phpMyAdmin URL  
      # - name: Install ngrok
      #   run: |
      #     curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
      #     echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list
      #     sudo apt update
      #     sudo apt install -y ngrok
          
      # - name: Add ngrok authtoken
      #   run: ngrok config add-authtoken ${{ secrets.NGROK_AUTHTOKEN }}
        
      # - name: Expose phpMyAdmin to the internet
      #   run: ngrok http 8000 &

      # - name: pip install
      #   run: |
      #     pip install mysql.connector
      #     pip install fastapi
      #     pip install uvicorn
      #     pip install sqlalchemy
      #     pip install pandas
        
      # - name: fastapi
      #   run: |
      #     cd API
      #     nohup timeout 600s uvicorn API_mysql:app --host 0.0.0.0 --port 8080 --reload
          
      
